<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.css">
  <title>ERROR</title>
  <style>
    ul {
      list-style-type: none;
      margin: 10px 0 0 -35px;
    }
  </style>
</head>
<body>
  <div class='container'>
   <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/products/">All Products</a></li>
      </ul>
    </nav>
    <h1>Error!</h1>
    <div class="alert alert-danger">
      {{ error }} <a href="/products">Try again?</a>
    </div> 
  </div>
</body>
</html>